<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DBLibraryName" value="C:\Users\macie\Desktop\studia\przedmioty\PW\projekt\projekt_prog_wizualne-main\projekt_prog_wizualne-main\CarsApp\CarsApp.DAOMock1\bin\Debug\net7.0\CarsApp.DAOMock1.dll"/>
    </appSettings>
</configuration>
